



body{
    display: flex;
    flex-wrap: wrap; /* remet les élément en dessous lorsque leurs dépasse */
}
body, html{
    line-height: 1.8;
    padding: 0;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}

.header, .content, .sidebar, .footer{
    padding: 26px 34px;
    color: white;
    box-sizing: border-box;
}

.header{
    background-color: #2b2024;
}

.content{
    background-color: #FD0054;
}

.sidebar{
    background-color: #A80038;
    color: white;
}

.footer{
    background-color: #2b2024;
    color: white;
}

.footer{
    flex-basis: 100%;
}

.header{
    flex-basis: 100%;
}

.content{
    flex-basis: 50%;
}

.sidebar{
    flex-basis: 25%;
}

/* jquery pour les écrans plus petits pour permettre un bon affichage et les ordonner tels que voulu*/

@media  screen and (max-width: 750px) {
    .content{
        flex-basis: 100%;

    }

    .sidebar{
        flex-basis: 50%;
        order:1
    }

    .footer{
        order: 2;
    }
}


@media  screen and (max-width: 500px) {
    
    .sidebar{
        flex-basis: 500%;
    }
}